<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Driver</title>

<!--Styles-->
<style>
    h1{
        text-align: center;
    }

    body{
        background-image: url('https://d1a3f4spazzrp4.cloudfront.net/chameleon/cms/uploads/2016/5/2/1462151098-hero.png');
        background-attachment: fixed;
    }

    .container{
        text-align: center;
        margin: 20%;
        padding: 5%;
        opacity: 0.8;
        background-color:white;
        border-radius: 20px;
    }
</style>

<!--End of styles-->

</head>
<body>
    <div class="container">
        <h1>Hello Driver... How are you!</h1>
    </div>
</body>
</html>