<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Passanger</title>

<!--Styles-->
<style>
    h1{
        text-align: center;
    }

    body{
        background-image:url('https://media.wired.com/photos/5a99b72745a4144663c5488e/master/w_582c_limit/Global_Palette__route-A-to-B-B_1200x628_Aqua_20160121.png');
        background-attachment: fixed;
    }


    .container{
        text-align: center;
        margin: 20%;
        padding: 5%;
        opacity: 0.8;
        background-color:white;
        border-radius: 20px;
    }
</style>

<!--end of styles-->
</head>
<body>
    <div class="container">
        <h1>Hello passanger!</h1>
    </div>
</body>
</html>